@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

header {
  padding: 58px 24px 0 24px;
  justify-content: space-between;
  display: flex;
}

header #my-logo {
  text-decoration: none;
  font-size: 20px;
  color: #6070ff;
}
  
body {
  font-family: 'Poppins', sans-serif;
}
